# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Variables de entorno
.env
.env.local

# Logs
*.log

# Docker / temporales
*.pid

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de testing/cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Builds
build/
dist/
*.egg-info/